<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Ingredients</title>
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <h1>Find a store location</h1>
    <label for="zip-code">Zip:</label><input id="zip-code" type="number" placeholder="Enter a ZIP code">
    <label for="radius">Radius (in miles):</label><input id="radius" type="number" min="1" max="100" value="10">
    <label for="store-chain">Store chain:</label>
    <select id="store-chain">
        <option value="">ANY CHAIN</option>
        <% chains.forEach(chain => { %>
            <option><%= chain %></option>
        <% }); %>
    </select>
    <button id="search-button">Search!</button>
    <br>
    <p id="error-message"></p>
    <br>
    <ul id="search-results"></ul>
    <script src="/script/locations.js"></script>
</body>
</html>